:root {
  --lightblue-hover: #58B0DDff;
  --blue-telegram: #0088CC;
  --darkgray-main: #333333;

  --red-main: #C61717;
  --red-bg: #FEEAE4;

  --gray-code: #546172;
  --gray-bg: #ECF3F8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neu', Arial, sans-serif;
  font-size: 16px;
  color: var(--darkgray-main);
  line-height: 1.35rem;
}

body {
  display: flex;
}

.container-left {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-right: 0.13rem solid #ddd;
  position: fixed;
}

#navbar {
  height: 100vh;
}

#header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid #ddd;
  font-size: 1.2rem;
}

#header-img {
  width: 25px;
  margin: 0.2rem 0.5rem 0 0.5rem;
}

.container-nav-link, .container-nav-link-sub {
  padding: 0.9rem 1rem 0.9rem 2.5rem;
  border-bottom: 0.1rem solid #eee;
}

.container-nav-link-sub {
  padding: 0.5rem 1rem 0.5rem 3.5rem;
}

#navbar :nth-child(4),
#navbar :nth-child(8),
#navbar :nth-child(12),
#navbar :nth-child(15) {
  padding-bottom: 0.7rem;
}

#navbar :last-child {
  border: none;
}

.nav-link {
  text-decoration: none;
  color: var(--blue-telegram);
}

.nav-link:hover {
  color: var(--lightblue-hover);
  font-weight: bolder;
}

.container-right {
  width: 80%;
  padding: 3rem;
  margin-left: 20%;
}

.content-section {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 0.8rem;
}

.content-sub-section {
  margin-top: 0.7rem;
  margin-right: 3.2rem;
  margin-bottom: 1.5rem;
  margin-left: 2.2rem;
}

header{
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 1.2rem;
  margin-top: 1.5rem;
}

strong {
  color: var(--blue-telegram);
  font-weight: 600;
}

ul {
  padding-top: 0.7rem;
  padding-left: 2.5rem;
  line-height: 1.5rem;
}

li {
  color: var(--blue-telegram);
}

blockquote {
  margin: 0.6rem 0 1rem 0;
  padding: 0.25rem 0 0.5rem 1rem;
  border-left: 5px solid var(--blue-telegram);
}

#Bot_API blockquote:hover {
  text-decoration: underline;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: var(--blue-telegram);
}

.hover:hover {
  color: var(--lightblue-hover);
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-bottom: 1rem;
}

#sendcode, #methods {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin: 1.25rem 0;
}

#sendcode td, #methods td{
  border-top: 1px solid #eee;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
}

#methods th {
  border-bottom: 2px solid #eee;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
}


code {
  font-family: 'Roboto Mono';
  font-size: smaller;
  color: var(--gray-code);
}

pre {
  display: block;
  padding: 0.5rem 0 0rem 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  overflow-x: auto;
}

.red {
  font-size: smaller;
  background: var(--red-bg);
  color: var(--red-main);
  padding: 0 0.25rem;
}

.gray {
  background: var(--gray-bg);
}

.bold {
  font-weight: bold;
}

.scroll-to-top {
  position: fixed;
  width: 32px;
  height: 32px;
  line-height: 28px;
  bottom: 5rem;
  right: 2rem;

  border-radius: 50%;
  background-color: var(--lightblue-hover);
  font-size: 22px;
  text-decoration: none;
  text-align: center;
}

.scroll-to-top i {
  color: white;
}

.scroll-to-top:hover {
  background: var(--darkgray-main);
}

footer {
  display: flex;
  margin-bottom: -2rem;
  justify-content: flex-end;
  align-items: center;
}

footer a {
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  font-size: smaller;
  text-decoration: none;
  color: #B8BDC4;
}

footer a:hover,
footer i:hover {
  color: var(--lightblue-hover);
}

footer i {
  color: var(--darkgray-main);
  margin: 0 0 0 1rem;
  font-size: 22px;
}

/*===========================================*/
/*=============MEDIA QUERIES=================*/
/*===========================================*/

@media (max-width: 1019px) {

  #header-logo {
    background: cyan;
    justify-content: flex-start;
    padding: 1.2rem 0 1.2rem 0.5rem;
    border-bottom: 0.1rem solid #ddd;
    font-size: 1.2rem;
  }

  #header-img {
    width: 25px;
    margin: 0.2rem 0.5rem 0 0.5rem;
  }

  .container-nav-link, .container-nav-link-sub {
    padding: 0.75rem 1rem 0.75rem 1rem;
  }

  .container-nav-link-sub {
    padding: 0.4rem 0.5rem 0.4rem 1.8rem;
  }

  .container-right {
    width: 80%;
    padding: 2.5rem;
    margin-left: 20%;
  }
}

@media (max-width: 876px) {

  .container-left {
    display: none;
  }

  .container-right {
    width: 100%;
    padding: 2.5rem;
    margin-left: 0;
  }
}

@media (max-width: 690px) {

  .container-right {
    padding: 1.8rem;
  }

  #sendcode td, #methods td{
    border-top: 1px solid #eee;
    padding: 0.5rem 1rem 0.5rem 0rem;
  }

  #methods th {
    border-bottom: 2px solid #eee;
    padding: 0.5rem 1rem 0.5rem 0rem;
  }

  .scroll-to-top {
    bottom: 4rem;
    right: 1.5rem;
  }
}

@media (max-width: 569px) {

  .container-right {
    width: 100%;
    padding: 1.7rem 0.5rem 2.7rem 1.2rem;
  }

  #Setting_commands ~ .content-sub-section {
    margin-bottom: 3.5rem;
  }

  #Setting_commands ~ hr {
    margin-bottom: 0.5rem;
  }

  hr {
    border: 0;
    border-top: 1px solid #eee;
    margin-bottom: 2rem;
  }

  #sendcode td, #methods td{
    border-top: 1px solid #eee;
    padding: 0.5rem 0.3rem 0.5rem 0rem;
  }

  #methods th {
    border-bottom: 2px solid #eee;
    padding: 0.5rem 0.3rem 0.5rem 0rem;
  }

  .scroll-to-top {
    bottom: 5.2rem;
    right: 1.5rem;
    opacity: 0.8;
  }

  footer {
    margin-right: 0.9rem;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -2rem;
  }

  footer i {
    color: var(--darkgray-main);
    margin: 0.2rem 0 0 0rem;
    font-size: 22px;
  }

  .content-section {
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0rem;
  }

  .content-sub-section {
    margin-top: 0.7rem;
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0.1rem;
  }

  ul {
    padding-top: 0.7rem;
    padding-left: 2.1rem;
    line-height: 1.5rem;
  }
}
